{% extends 'base.html.twig' %}

{% block title %}Backoffice | Liste des utilisateurs{% endblock %}

{% block userActive %}active{% endblock %}

{% block body %}

		<div class="d-flex justify-content-between">
			<h3>Liste des utilisateurs</h3>
			<a href="{{ path('app_back_user_add') }}"><button type="button" class="btn btn-dark btn-sm">Ajouter un utilisateur</button></a>
		</div>

		<table class="table table-hover my-3">
			<thead>
				<tr class="table-primary text-center">
					<th scope="col">Id</th>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">Phone</th>
					<th scope="col">Roles</th>
					<th scope="col">Ajouter le</th>
					<th scope="col">Modifier le</th>
					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.phone }}</td>
						<td>
							{% set break = false %}
							{% for role in user.roles %}
								{% if role == "ROLE_ADMIN" %}
									Admin
									{% set break = true %}
								{% endif %}
								{% if not break %}
									Utilisateur
								{% endif %}
							{% endfor %}
						</td>
						<td class="text-center">{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
						<td class="text-center">{{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}</td>
						<td class="text-center">
								<a href="{{ path('app_back_user_show', {'id': user.id}) }}"><button type="button" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></button></a>
								<a href="{{ path('app_back_user_edit', {'id': user.id}) }}"><button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i></button></a>  
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas de résultat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
{% endblock %}
